<h1>New Tweet</h1>

<%= render 'form', tweet: @tweet %>

	<%= form_tag '/tweets', method: 'post', multipart: true do %>
	    <label>ファイル</label>
	    <%= file_field :fileupload, :file %>

	    <!--<%= submit_tag 'Send file' %>-->
	<% end %>

<%= link_to 'Back', tweets_path %>
